<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <div
      class="fixed right-0 bottom-0 top-80 w-auto z-100 leading-0"
      x-show="!menuOpen"
    >
      <a
        href="https://info.givecampus.com/schedule"
        target="_blank"
        class="c-button bg-gradient-to-r from-[#fabe50] to-[#ff9111] font-bold uppercase group appearance-none inline-block rounded-none p-5 rotate-180 vertical-rl"
      >
        <span class="tracking-widest">Schedule a Demo</span></a
      >
    </div>
    {% section 'header' %}
    <!-- Add this to your theme.liquid or the relevant template file -->

    <div id="embed-popup" class="embed-popup">
      <div class="embed-popup-content">
        <span class="close-button" onclick="closePopup()">&times;</span>
        <p>Your Embed Code:</p>

        <iframe
          width="610px"
          height="560px"
          src="https://crm.zoho.com/crm/WebFormServeServlet?rid=5f2d5a8130968b27541733c96a2fbbb75735016da04641ca397d115a3a10af15abc59594564dd3d6abd09a0e53f7f0f7gid707b2c05e270723fada98b2773383fb43561c9c49a49d7fa4991c6ce06212acc"
        >
        </iframe>
      </div>
    </div>

    <main role="main">
      {{ content_for_layout }}
    </main>

    <script>
      /* Include the JavaScript here if not in a separate file */
      document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
          document.getElementById('embed-popup').style.display = 'block';
        }, 3000); // 3000 milliseconds = 3 seconds
      });

      function closePopup() {
        document.getElementById('embed-popup').style.display = 'none';
      }
    </script>
  </body>
</html>
