<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" CONTENT="text/html;charset=UTF-8">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'application.js' | asset_url | script_tag }} {% endcomment %}

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    {% section 'header' %}
    <!-- Add this to your theme.liquid or the relevant template file -->
    <main role="main" class="flex-grow">
      {{ content_for_layout }}
    </main>

    {% if customer %}
      <p>Welcome, {{ customer.email }}!</p>
    {% else %}
      <p>Welcome, Guest!</p>
    {% endif %}

    <a href="https://shopify-b2c-login.onrender.com/auth" class="btn">Login with Azure B2C</a>
  </body>
</html>
